{
  "presets": ["react-app"],
  "env": {
    "production": {
      "plugins": ["emotion", "babel-plugin-styled-components"]
    },
    "development": {
      "plugins": [
        ["emotion", { "sourceMap": true }],
        "babel-plugin-styled-components"
      ]
    }
  }
}
