@import "src/styles/variables.scss";

.content {
  width: 274px;
  padding: 15px;
}

.application-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.application-container {
  margin-bottom: $standard-gap;
}
