@import "src/styles/variables.scss";

.page-button {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  background: $emphasis-background-color;

  transition: all ease-in 0s;
  &:hover {
    background: rgba($color: $primary-color, $alpha: 0.8);
    color: #fff;
  }
}
